---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('/EDC-2026/EDC_banner.png');
  background-size: cover;
  background-position: center;
  padding: 2rem 1rem;
}

.page-header h1,
.page-header h2,
.page-header .btn {
  display: none;
}
