---
---

@import "{{ site.theme }}";

.page-header {
  background-image: url('/EDC-2026/EDC_banner.png');
  background-size: cover;
  background-position: center top;
  padding: 8rem 1rem;
}

.page-header h1,
.page-header h2,
.page-header .btn {
  display: none;
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-content h4,
.main-content h5,
.main-content h6 {
  color: #2c5282;
}
